/* Sass Variables */

$gray-2: #dadada;
$gray-4: #383838;
$teal-main: #089D90;
$teal-dark: #036960;

$hexagon-width: 50px;
$hexagon-height: $hexagon-width*.55;

/* Imports */
@import './material-shadows.scss';
//@import './loader.scss';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Poppins');

@font-face {
    font-family: 'anke';
    src: url('../assets/fonts/Anke/Anke.otf');
}

/* Universal Styles */
html {
    font-family: 'Droid Sans', 'Josefin Sans', sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

ul li {
    list-style-type: none;
}

/* Flex Classes */

.flex {
    display: flex;
}

/* General Style */

.project-container {
    width: 100%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:$gray-2;
    height: 1px;
}

.section-header {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: $teal-main;
}

.site-section {
    margin-top: 30px;
    min-height: 300px;
    padding-bottom: 40px;
    .description {
        font-size: 1.3em;
        padding-top: 15px;
    }
}

.page-logo-container {
    margin-bottom: 56px;
}

.sub-header {
    color: $teal-dark;
    font-style: italic;
    font-size: 1.5em;
}

/* Navbar */

.navbar-large {
    display: none;
}

.navbar-small {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
}

.navbar-small-menu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .55s, background-color 2s;
    ul li a{
        color: teal;
        text-decoration: none;
        font-size: 3.7rem;
        padding: .0006rem;
        font-weight: bold;
        font-family: Poppins;
    }
}

.navbar-burger {
    color: #606060;
    font-size: 40px;
    padding: 5px 5px 5px 15px;
}

.navbar-section {
    z-index: 10;
    position: fixed;
    right: 5rem;
    bottom: 33%;
    ul {
        li {
            padding: 10px;
            list-style-type: none;
            .nav-text {
                color: $gray-2;
                color: #747474;
                background-color: white;
                padding: 1px 5px 4px 4px;
                border-radius: 7px;
                margin-right: 10px;
            }
        }
    }
}

.navbar-section ul li .navbar-large-experience {
    padding: 1px 40px 4px 10px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $gray-2;
    padding-left: 0px;
    padding-right: 0px;
    transition: background-color .5s;
}

.circle:hover {
    background-color: #bcbcbc;
}

/* Intro */
.intro {
    height: 80%;
    background-image: url('../assets/backgrounds/front-page-teal-icon.png');
    background-size:cover;
    align-items: center;
}

.front-page-logo {
    width: 100%;
}

/* Quote Diver */

.quote-divider {
    height: 20%;
    width: 100%;
    background-color: $gray-4;
    font-size: 5rem;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    div:first-child {
        padding-top: 2rem;
    }
    h2 {
        font-size: 2.8rem;
        font-family: poppins;
        i, .fa {
            font-size: 6rem;
            padding: 3px;
        }
        i, .fa:hover {
            color: $gray-2;
        }
    }
    .arrow {
        max-height: 50px;
    }
}

.section-margin {

}
/* Skills */

.skills-container {
    img {
        width: 100%;
    }
}

.skills-tech, .skills-framework, .skills-design {
    display: none;
}

.skills-design-large {
    max-width: 600px;
}

.skills-tech-large, .skills-framework-large, .skills-design-large {
    display: inherit;
}

/* Job */

.job-location {
    display: flex;
    i {
        padding: 0px 8px 0px 0px;
        font-size: 20px;
    }
}

.job-right {
    font-size: 16px;
    padding-top: 17px;
}

.job-time {
    font-style: italic;
}

/* Overrides */

html .row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Xp */
.xp-section {
    .section-header {
        color: white;
    }
    background-image: url('../assets/backgrounds/xp-bgrd.png');
    background-size:cover;
    align-items: center;
    .xp-container {
        background-color: white;
        padding: 10px;
        margin-top: 100px;
        min-height: 200px;
    }
    .xp-container-first {
        margin-top: 15px;
    }
}

/* Work */

.view-work {
    margin-top: 2.3rem;
    a {
        color: $teal-main;
        font-weight: bold;
    }
}

.work-tech {
    margin: .5rem;
    background-color: #00adad;
    border-radius: 7px;
    padding: 5px;
    color: white;
    font-weight: 600;
}

.work-section {
    .section-header {
        padding-bottom: 30px;
    }
    .img-sub-section {
        height: 370px;
    }
}

.img-sub-section {
    img {
        padding-left: 0px;
        padding-right: 0px;
        width: 80%;
    }
    .work-img-1 {
        z-index: -1;
    }
    .work-img-2 {
        bottom: 200px;
    }
}

.work-description {
    margin-top: 4%;
    h3 {
        color: $teal-main;
        font-size: 30px;
        font-weight: 500;
    }
    hr {
        width: 100%;
    }
    p span {
        display: inline-block;
    }
}

.work-huskytech {
    .work-img-2 {
        bottom: 240px;
    }
    .img-sub-section div:first-child {
        max-height: 300px;
        overflow: hidden;
    }
}

.work-effyblue {
    .img-sub-section div:first-child {
        max-height: 300px;
        overflow: hidden;
    }
}

.work-datahub, .work-common, .work-wall, .work-dataviz {
    padding-top:50px;
}

.work-dataviz, .work-effyblue {
    padding-bottom: 40px;
}

/* Contact */

.contact-section {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 30px;
    i {
        font-size: 42px;
        color: $teal-main;
    }
    .contact-email {
        color: $teal-main;
        font-family: 'Poppins','Droid Sans', 'Josefin Sans', sans-serif;
        text-decoration: underline;
    }
    .section-header {
        color: gray;
        font-weight: 500;
    }
    i, .fa{
        font-size: 62px;
        color: $gray-2;
        transition: color 1s;
        padding: 5px;
    }
    i, .fa:hover {
        color: $gray-4;
    }
}

/* Footer */
footer {
    margin: 0px;
    background-color: $teal-main;
    height: 80px;
}

/* Animations */

.nav-text {
    opacity: 0;
    transition: opacity .6s;
}

.full-opacity {
    opacity: 1
}

.no-opacity {
    opacity: 0;
}

.active {
    background-color: #11D4C3;
}

.active:hover {
    background-color: #11D4C3;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }



.slide-out {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.bounce {
    animation: bounce_an 1s infinite alternate;
}

.fade-in {
    animation:fadeIn 1s;
    -moz-animation:fadeIn 1s; /* Firefox */
    -webkit-animation:fadeIn 1s; /* Safari aend Chrome */
    -o-animation:fadeIn 1s; /* Opera */

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.fade-out {
    animation:fadeOut 1s;
    -moz-animation:fadeOut 1s; /* Firefox */
    -webkit-animation:fadeOut 1s; /* Safari and Chrome */
    -o-animation:fadeOut 1s; /* Opera */

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

@keyframes bounce_an {
    0% {
        margin-bottom: 1rem;
    }

    100% {
        margin-bottom: 3rem;
    }
}

/* Media Queries */

@media all and (min-width: 1563px) {
    .page-logo-container {
        margin-top: 180px;
    }
}

@media all and (max-width: 1563px) {
    .page-logo-container {
        margin-top: 124px;
    }
}

@media all and (max-width: 1309px) and (min-width: 947px){
    .work-icollab {
        max-height: 200px;
    }
    .work-huskytech .img-sub-section div:first-child{
        margin-bottom: -30px;
    }
}

@media all and (max-width: 1140px) {
    .page-logo-container {
        margin-top: 124px;
    }
    .intro {
        background-image: url('../assets/backgrounds/front-page-teal-no-white.png');
        .col-sm-offset-3 {
            margin-left: 8.33333333%
        }
        .col-sm-5 {
            width: 75%;
        }
    }
    .work-section .img-sub-section {
        padding-top: 50px;
        height: inherit;
        max-height: 200px;
    }
    .work-datahub, .work-common, .work-wall {
        padding-top:0px;
    }
    .work-huskytech .img-sub-section div:first-child, .work-effyblue .img-sub-section div:first-child {
        max-height: 200px;
        overflow: hidden;
    }
    .work-huskytech .work-img-2, .work-effyblue .work-img-2 {
        bottom: 160px;
    }
    .img-sub-section .work-img-2 {
        bottom: 120px;
    }
}

@media all and (min-width: 960px) {
    .experience-section {
        img {
            filter: grayscale(100%);
            transition : filter .2s linear
        }
        img:hover {
            filter: grayscale(0%);
        }
    }
}

@media all and (max-width: 960px) {
    .skills-tech-large, .skills-framework-large {
        display: none;
    }
    .skills-tech, .skills-framework {
        display: inherit;
    }
}

@media all and (max-width: 960px) {
    .site-section {
        padding: 20px 30px 40px 30px;
        margin: 20px 20px;
    }
}

@media all and (max-width: 960px) {
    .xp-section .xp-container {
        width: 100%;
        margin-left: 0px;
    }
}

@media all and (max-width: 948px) {
    .xp-section {
        .col-sm-5 {
            width: 95%;
            margin-left: 10px;
        }
    }
    .xp-section .xp-container {
        margin-top: 23px;
    }
    .work-huskytech {
        .work-img-2 {
            bottom: 110px;
        }
    }
}

@media all and (min-width: 768px) {
    .navbar-large {
        display: inline-block;
    }
    .navbar-small {
        display: none;
    }
}

@media all and (max-width: 768px) {
    #site-content .navbar-large {
        display: none !important;
    }
    .navbar-small {
        display: inline-block;
    }
    .intro {
        height: 57%;
    }
    .work-section .img-sub-section {
        max-height: inherit;
    }
    .mobile-no-display {
        display:none;
    }
    .img-sub-section .work-img-2 {
        bottom: 0px;
    }
    .work-effyblue .img-sub-section div:first-child {
        max-height: 100%;
        overflow: initial;
    }
    .work-img-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .work-section .section-header {
        padding-bottom: 0px;
    }
    .work-datahub, .work-common, .work-wall, .work-dataviz {
        padding-top: 0px;
        padding-bottom: 8px;
    }
}

@media all and (max-width: 645px) {
    .page-logo-container {
        margin-top: 20px;
    }
    .intro {
        height: 34%;
    }
}

@media only screen and (max-width: 480px) {
    .intro {
        height: 42%;
    }
    .page-logo-container {
        margin-top: 65px;
    }
    .work-section {
        font-size: 1.8rem;
    }
    .quote-divider {
        h2 {
            font-size: 2rem;
            display: none;
        }
        height: 5rem;
    }
    .intro {
        .col-sm-5 {
            width: 90%;
        }
        .col-sm-offset-3 {
            margin-left: 1.33333333%
        }
    }
    h2 {
        font-size: 25px;
    }
}





