/* Sass Variables */

$gray-2: #dadada;
$gray-4: #383838;
$teal-main: #089D90;
$teal-dark: #036960;

/* Imports */
@import './material-shadows.scss';
@import './loader.scss';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Poppins');

@font-face {
    font-family: 'anke';
    src: url('../assets/fonts/Anke/Anke.otf');
}

/* Universal Styles */
html {
    font-family: 'Droid Sans', 'Josefin Sans', sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

/* Flex Classes */

.flex {
    display: flex;
}

/* General Style */

.project-container {
    width: 100%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:$gray-2;
    height: 1px;
}

.section-header {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: $teal-main;
}

.site-section {
    margin-top: 30px;
    min-height: 300px;
    padding-bottom: 40px;
    .description {
        font-size: 1.3em;
        padding-top: 15px;
    }
}

.sub-header {
    color: $teal-dark;
    font-style: italic;
    font-size: 1.5em;
}

/* Animations */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes slideUp { from { bottom:-100px; } to { bottom:0; } }
@-moz-keyframes slideUp { from { bottom:-100px; } to { bottom:0; } }
@keyframes slideUp { from { margin-top: 248px } to { margin-top: 180px; } }


.fade-in {
    opacity:0;
    animation-name: fadeIn;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:.5s;
}

.slide-up {
    margin-top: 248px;
    animation-name: slideUp;
    -webkit-animation:slideUp ease-in 1;
    -moz-animation:slideUp ease-in 1;
    animation:slideUp ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:.7s;
}

.slide-out {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* Intro */
.intro {
    height: 80%;
    background-image: url('../assets/backgrounds/front-page-teal-icon.png');
    background-size:cover;
    align-items: center;
}

.front-page-logo {
    width: 100%;
}

/* Quote Diver */

.quote-divider {
    height: 20%;
    width: 100%;
    background-color: $gray-4;
    font-size: 5rem;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    h2 {
        font-size: 2.8rem;
    }
}

.section-margin {

}
/* Skills */

.skills-container {
    img {
        width: 100%;
    }
}

.skills-tech, .skills-framework, .skills-design {
    display: none;
}

.skills-design-large {
    max-width: 600px;
}

.skills-tech-large, .skills-framework-large, .skills-design-large {
    display: inherit;
}

/* Job */

.job-location {
    display: flex;
    i {
        padding: 0px 8px 0px 0px;
        font-size: 20px;
    }
}

.job-right {
    font-size: 16px;
    padding-top: 17px;
}

.job-time {
    font-style: italic;
}

/* Overrides */

html .row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Xp */
.xp-section {
    .section-header {
        color: white;
    }
    background-image: url('../assets/backgrounds/xp-bgrd.png');
    background-size:cover;
    align-items: center;
    .xp-container {
        background-color: white;
        padding: 10px;
        margin-top: 100px;
        min-height: 200px;
    }
    .xp-container-first {
        margin-top: 15px;
    }
}

/* Work */

.work-section {
    .section-header {
        padding-bottom: 30px;
    }
    .img-sub-section {
        height: 370px;
    }
}

.img-sub-section {
    img {
        padding-left: 0px;
        padding-right: 0px;
        width: 80%;
    }
    .work-img-1 {
        z-index: -1;
    }
    .work-img-2 {
        bottom: 200px;
    }
}

.work-description {
    margin-top: 4%;
    h3 {
        color: $teal-main;
        font-size: 30px;
        font-weight: 500;
    }
    hr {
        width: 100%;
    }
}

.work-huskytech {
    .work-img-2 {
        bottom: 240px;
    }
    .img-sub-section div:first-child {
        max-height: 300px;
        overflow: hidden;
    }
}

.work-effyblue {
    .img-sub-section div:first-child {
        max-height: 300px;
        overflow: hidden;
    }
}

.work-datahub, .work-common, .work-wall, .work-dataviz {
    padding-top:50px;
}

.work-dataviz, .work-effyblue {
    padding-bottom: 40px;
}

/* Contact */

.contact-section {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 30px;
    i {
        font-size: 42px;
        color: $teal-main;
    }
    .contact-email {
        color: $teal-main;
        font-family: 'Poppins','Droid Sans', 'Josefin Sans', sans-serif;
        text-decoration: underline;
    }
    .section-header {
        color: gray;
        font-weight: 500;
    }
    i, .fa{
        font-size: 62px;
        color: $gray-2;
        transition: color 1s;
        padding: 5px;
    }
    i, .fa:hover {
        color: $gray-4;
    }
}

/* Footer */
footer {
    margin: 0px;
    background-color: $teal-main;
    height: 80px;
}

/* Media Queries */

@media all and (min-width: 1563px) {
    .page-logo-container {
        margin-top: 180px;
    }
}

@media all and (max-width: 1563px) {
    .page-logo-container {
        margin-top: 124px;
    }
}

@media all and (max-width: 1309px) and (min-width: 947px){
    .work-icollab {
        max-height: 200px;
    }
    .work-huskytech .img-sub-section div:first-child{
        margin-bottom: -30px;
    }
}

@media all and (max-width: 1140px) {
    .page-logo-container {
        margin-top: 124px;
    }
    .intro {
        background-image: url('../assets/backgrounds/front-page-teal-no-white.png');
        .col-sm-offset-3 {
            margin-left: 8.33333333%
        }
        .col-sm-5 {
            width: 75%;
        }
    }
    .work-section .img-sub-section {
        padding-top: 50px;
        height: inherit;
        max-height: 200px;
    }
    .work-datahub, .work-common, .work-wall {
        padding-top:0px;
    }
    .work-huskytech .img-sub-section div:first-child, .work-effyblue .img-sub-section div:first-child {
        max-height: 200px;
        overflow: hidden;
    }
    .work-huskytech .work-img-2, .work-effyblue .work-img-2 {
        bottom: 160px;
    }
    .img-sub-section .work-img-2 {
        bottom: 120px;
    }
}

@media all and (min-width: 960px) {
    .experience-section {
        img {
            filter: grayscale(100%);
            transition : filter .2s linear
        }
        img:hover {
            filter: grayscale(0%);
        }
    }
}

@media all and (max-width: 960px) {
    .skills-tech-large, .skills-framework-large {
        display: none;
    }
    .skills-tech, .skills-framework {
        display: inherit;
    }
}

@media all and (max-width: 960px) {
    .site-section {
        padding: 20px 30px 40px 30px;
        margin: 20px 20px;
    }
}

@media all and (max-width: 960px) {
    .xp-section .xp-container {
        width: 100%;
        margin-left: 0px;
    }
}

@media all and (max-width: 948px) {
    .xp-section {
        .col-sm-5 {
            width: 95%;
            margin-left: 10px;
        }
    }
    .xp-section .xp-container {
        margin-top: 23px;
    }
    .work-huskytech {
        .work-img-2 {
            bottom: 110px;
        }
    }
}

@media all and (max-width: 768px) {
    .intro {
        height: 57%;
    }
    .work-section .img-sub-section {
        max-height: inherit;
    }
    .mobile-no-display {
        display:none;
    }
    .img-sub-section .work-img-2 {
        bottom: 0px;
    }
    .work-effyblue .img-sub-section div:first-child {
        max-height: 100%;
        overflow: initial;
    }
    .work-img-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .work-section .section-header {
        padding-bottom: 0px;
    }
    .work-datahub, .work-common, .work-wall, .work-dataviz {
        padding-top: 0px;
        padding-bottom: 8px;
    }
}

@media all and (max-width: 645px) {
    .page-logo-container {
        margin-top: 20px;
    }
    .intro {
        height: 34%;
    }
}

@media only screen and (max-width: 480px) {
    .intro {
        height: 42%;
    }
    .page-logo-container {
        margin-top: 65px;
    }
    .work-section {
        font-size: 1.8rem;
    }
    .quote-divider {
        h2 {
            font-size: 2rem;
            display: none;
        }
        height: 5rem;
    }
    .intro {
        .col-sm-5 {
            width: 90%;
        }
        .col-sm-offset-3 {
            margin-left: 1.33333333%
        }
    }
    h2 {
        font-size: 25px;
    }
}





