/* Sass Variables */

$green: #629c66;

/* Universal Styles */
html {
    /*src: url('../assets/fonts/aruna-regular.ttf') format('truetype');*/
    font-family: 'Josefin Sans', sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

/* Flex Classes */

.flex {
    display: flex;
}

/* Intro */
.intro {
    height: 150%;
    background-image: url("../assets/backgrounds/front-page-no-words.gif");
    background-size:cover;
    align-items: center;
}

.description {
    color: white;
    h1 {
        font-size: 64pt;
    }
    h2 {
        font-size: 50px;
        text-align: left;
        margin-left: 38px;
    }
    h4{
        font-size: 36px;
        text-align: left;
        margin-left: 38px;
    }
}

@media all and (min-width: 1563px) {
    .description {
        margin-top: 400px;
    }
}

@media all and (min-width: 1562) {

.intro {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

    .intro::after {
          content: "";
          background: url(image.jpg);
          opacity: 0.5;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
    }
}

/* Quote Diver */

.quote-divider {
    height: 20%;
    background-color: $green;
    color: #fff;
}

.section-margin {

}

/* Experience Style */

.job-summary {
    text-align: left;
    padding-top: 20px;
}

/* Project Style */

.project-container {
    width: 100%;
}



